<div class="main__content-dashboard">
  <div class="breadcrumb-dashboard">
      <h5>Demandes</h5>
      <div>
          <a href="index.html">Home</a>
          <i class="fa-solid fa-arrow-right-long"></i>
          <a href="javascript:void(0)">Transactions</a>
      </div>
  </div>
  <div class="investment-table investment-table-two">
      <div class="intro">
          <h5>Mes demandes</h5>
          <h6>Total demandes <span>(2)</span></h6>
      </div>
      <div class="table-wrapper">
          <table>
              <tr>
                  <th>N° Demande</th>
                  <th>Libelle</th>
                  <th>Demandeur</th>
                  <th>Date</th>
                  <th>Status</th>
              </tr>
              <tr>
                  <td>
                      00000A
                  </td>
                  <td>Extrait De Naissance</td>
                  <td>KOUASSI KOUADIO</td>
                  <td>18.03.2022</td>
                  <td>En attente de paiement</td>
              </tr>
              <tr>
                  <td>
                      000000B
                  </td>
                  <td>Certificat De Nationnalité</td>
                  <td>KOFFI KONAN</td>
                  <td>18.03.2022</td>
                  <td>En attente de paiement</td>
              </tr>

          </table>
      </div>
  </div>
</div>
