<div class="main__content-dashboard">
  <div class="breadcrumb-dashboard">
      <h5>Vérification</h5>
      <div>
          <a href="index.html">Dashbord</a>
          <i class="fa-solid fa-arrow-right-long"></i>
          <a href="javascript:void(0)">Vérification</a>
      </div>
  </div>
  <div class="account-info">
      <!-- <div class="account-info__btn-wrapper">
          <a href="account.html#general"
              class="account-info__btn account-info__btn-active button button--effect">General</a>
          <a href="account.html#billing" class="account-info__btn button button--effect">Billing</a>
          <a href="account.html#security" class="account-info__btn button button--effect">Security</a>
      </div> -->
      <div class="account-content_wrapper">
          <div class="account-content" id="general">

              <mat-stepper class="demo-stepper" #stepper>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                 <div class="row d-flex justify-content-center">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="input input--secondary">
                                  <label for="saveFirstName">Nom demandeur</label>
                                  <input type="text" name="save__first__name"
                                      id="saveFirstName" placeholder="Nom demandeur"
                                      required="required" />
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="input input--secondary">
                                  <label for="saveLastName">Date de demande</label>
                                  <input type="date" name="save__last__name" id="saveLastName"
                                      placeholder="01/01/2022" required="required" />
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
                </mat-step>

                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <div class="row d-flex justify-content-center">
                      <div class="col-sm-6">
                          <div class="input input--secondary">
                              <label for="saveFirstName">N° Extrait de naissance</label>
                              <input type="text" name="save__first__name"
                                  id="saveFirstName" placeholder="N° Extrait de naissance"
                                  required="required" />
                          </div>
                      </div>
                  </div>

                  </form>
                </mat-step>
                <mat-step
                  [stepControl]="secondFormGroup"
                  label="Fill out your address"
                  optional>
                  <form [formGroup]="secondFormGroup">
                    <div class="row d-flex justify-content-center">
                      <div class="col-sm-6">
                          <div class="input input--secondary">
                              <label for="saveFirstName">N° Pièce du père</label>
                              <input type="text" name="save__first__name"
                                  id="saveFirstName" placeholder="N° Pièce du père"
                                  required="required" />
                          </div>
                      </div>
                  </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                 <div class="row d-flex justify-content-center">
                      <div class="col-sm-6">
                          <div class="input input--secondary">
                              <label for="saveFirstName">N° Pièce de la mère</label>
                              <input type="text" name="save__first__name"
                                  id="saveFirstName" placeholder="N° Pièce de la mère"
                                  required="required" />
                          </div>
                      </div>
                  </div>
                </mat-step>
              </mat-stepper>

              <div class="d-flex justify-content-center">
                <button type="submit" class="button button--effect">Rechercher</button>
            </div>

              <div class="investment-table">
                <div class="intro">
                    <h5>Résultat(s) recherche</h5>
                </div>
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <th>TYPE DE DOCUMENT</th>
                            <th>DATE</th>
                            <th>VISUALISER</th>
                            <th>STATUS</th>
                        </tr>
                        <tr>
                            <td>
                                Extrait de naissance
                            </td>
                            <td>18.03.2022</td>
                            <td><img src="assets/images/icons/PDF_icon.png" style="width: 40px;" alt="Investment" /></td>
                            <td><span class="process"></span>En attente de validation</td>
                        </tr>
                        <tr>
                            <td>
                                Certificat de nationnalité
                            </td>
                            <td>18.03.2022</td>
                            <td><img src="assets/images/icons/PDF_icon.png" style="width: 40px;" alt="Investment" /></td>
                            <td><span class="paid"></span>Validé</td>
                        </tr>

                    </table>
                </div>
            </div>

          </div>

      </div>
  </div>
</div>
